@font-face {
    font-family: 'iCiel Brandon Text';
    src: url('iCielBrandonText-Bold.woff2') format('woff2'),
        url('iCielBrandonText-Bold.woff') format('woff'),
        url('iCielBrandonText-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

